* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
  overflow: hidden; }
  .login-page .wrapper {
    position: relative;
    display: flex;
    width: 400px;
    height: 500px; }
    .login-page .wrapper .form-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
      .login-page .wrapper .form-wrapper h2 {
        font-size: 30px;
        color: #555;
        text-align: center; }
      .login-page .wrapper .form-wrapper .input-group {
        position: relative;
        width: 320px;
        margin: 30px 0; }
        .login-page .wrapper .form-wrapper .input-group label {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          font-size: 1rem;
          color: #333;
          padding: 0 5px;
          pointer-events: none;
          transition: 0.5s; }
        .login-page .wrapper .form-wrapper .input-group input {
          width: 100%;
          height: 40px;
          font-size: 1rem;
          color: #333;
          padding: 0 10px;
          background: transparent;
          border: 1px solid #333;
          outline: none;
          border-radius: 5px; }
        .login-page .wrapper .form-wrapper .input-group input:focus ~ label,
        .login-page .wrapper .form-wrapper .input-group input:valid ~ label {
          top: 0;
          font-size: 12px;
          background: white; }
      .login-page .wrapper .form-wrapper .forgot-pass {
        margin: -15x 0 15px; }
        .login-page .wrapper .form-wrapper .forgot-pass a {
          color: #333;
          font-size: 14px;
          text-decoration: none; }
        .login-page .wrapper .form-wrapper .forgot-pass a:hover {
          text-decoration: underline; }
      .login-page .wrapper .form-wrapper .login-btn {
        position: relative;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        left: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(to right, #2196f3, #e91e63);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
        font-size: 1rem;
        color: #333;
        font-weight: 500;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        outline: none; }
      .login-page .wrapper .form-wrapper .sign-link {
        font-size: 14px;
        text-align: center;
        margin: 25px 0; }
        .login-page .wrapper .form-wrapper .sign-link p {
          color: #333; }
          .login-page .wrapper .form-wrapper .sign-link p a {
            color: #e91e63;
            text-decoration: none;
            font-weight: 600; }
          .login-page .wrapper .form-wrapper .sign-link p a:hover {
            text-decoration: underline; }
    .login-page .wrapper .form-wrapper.sign-up {
      transform: rotate(7deg); }
  .login-page .wrapper.animate-signUp .form-wrapper.sign-in {
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s; }
  .login-page .wrapper.animate-signUp .form-wrapper.sign-up {
    animation: animateSignUp .7s ease-in-out forwards; }
  .login-page .wrapper.animate-signIn .form-wrapper.sign-in {
    animation: animateSignIn 1.5s ease-in-out forwards; }
  .login-page .wrapper.animate-signIn .form-wrapper.sign-up {
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s; }

@keyframes animateSignIn {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-500px); }
  100% {
    transform: translateX(0) rotate(7deg); } }
@keyframes animateSignUp {
  0% {
    transform: translateX(0);
    z-index: 1; }
  50% {
    transform: translateX(500px); }
  100% {
    transform: translateX(0) rotate(7deg); } }
@keyframes animateRotate {
  0% {
    transform: rotate(7deg); }
  100% {
    transform: rotate(0);
    z-index: 1; } }

/*# sourceMappingURL=auth.css.map */
