.menu {
  .container-inner {
    background: var(--color-bg);;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid white;

    .line {
      border-bottom: 1px solid white;
    }

    .box {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 7%;

      div {
        width: 31%;
      }

      .phone {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .phone-icon {
          animation: shake 0.5s infinite;
          margin-left: 5px;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }

      .phone:hover {
        color: var(--color-primary);

        a {
          color: #4db5ff;
        }
      }

      .phone:after {
        content: "|";
      }

      .account {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .login {
          padding: 0.5rem;
          border-radius: 10px;
          text-decoration: none;
          border: 1px solid white;
          color: white;
          background: transparent;
          transition: 0.5s;
        }

        .login:hover {
          color: var(--color-bg);
          background: white;
        }

        .login:active {
          transform: scale(0.9);
        }

        .account-dropdown {

          .account-dropdown-toggle {
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            border: none;
            background: transparent;

            div {
              width: 40px;
              height: 40px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 20px;
              border: 1px solid white;
            }
          }

          .account-dropdown-toggle:hover {
            color: #4db5ff;

            div {
              border: 1px solid #4db5ff;
            }
          }

          .account-dropdown-menu {
            background: rgba(0, 0, 0, 0.9);

            .account-dropdown-item {
              color: white;
              font-size: 0.8rem;

              a {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }

      .language {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;

        div {
          font-size: 1rem;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid transparent;
          box-sizing: border-box;

          img {
            width: 100%;
          }
        }

        .active {
          opacity: 0.4;
          transform: scale(0.8);
        }
      }

      .language:after {
        content: "|";
      }
    }

    .box-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 7%;

      .search {
        input {
          color: white;
          background: rgba(0, 0, 0, 0.4);
          padding: 1rem;
          border-radius: 0.8rem 0 0 0.8rem;
          width: 400px;
        }

        button {
          color: white;
          background: rgba(0, 0, 0, 0.4);
          padding: 1rem;
          border-radius: 0 0.8rem 0.8rem 0;
        }
      }

      .box-bottom-icon {
        display: flex;
        text-decoration: none;
        color: white;
        flex-direction: row;
        align-items: end;
        font-size: 0.8rem;
        flex-wrap: wrap;

        .icon {
          font-size: 2rem;
        }

        .count {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid white;
          position: relative;
          left: 48px;
          top: -22px;
        }
      }

      .box-bottom-icon:hover {
        color: var(--color-primary);

        .count {
          color: var(--color-primary);
          border: 1px solid var(--color-primary);
        }
      }

    }

    .box-right {
      margin-left: auto;
    }
  }

  @keyframes shake {
    0% {
      transform: translateY(1px) rotate(0deg);
    }
    10% {
      transform: translateY(-2px) rotate(-1deg);
    }
    20% {
      transform: translateY(0px) rotate(1deg);
    }
    30% {
      transform: translateY(2px) rotate(0deg);
    }
    40% {
      transform: translateY(-1px) rotate(1deg);
    }
    50% {
      transform: translateY(2px) rotate(-1deg);
    }
    60% {
      transform: translateY(1px) rotate(0deg);
    }
    70% {
      transform: translateY(1px) rotate(-1deg);
    }
    80% {
      transform: translateY(-1px) rotate(1deg);
    }
    90% {
      transform: translateY(2px) rotate(0deg);
    }
    100% {
      transform: translateY(-2px) rotate(-1deg);
    }
  }
}

.menu-bottom {
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-content: center;
  gap: 3rem;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.75);

  div {
    a {
      color: #323131;
      text-decoration: none;
    }

    a:hover {
      color: var(--color-primary);
    }
  }

  div:nth-child(1) {
    margin-left: 150px;
  }
}

.menu-bottom:hover {
  transition: 0.5s;
  background-color: var(--color-white);
}