.categories{
  margin-top:30px;
  margin-bottom:50px;

  .products-header{
    color: var(--color-bg);
  }
  .products-category{
    padding: 10px 3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap:3rem;
  }
  .category-card{
    display:flex;
    border: 1px solid #d0cece;
    background:var(--color-white);
    width: 350px;
    border-radius:0.8rem;
    text-decoration: none;

    .category-image{
      img {
        width: 100%;
        border-radius:0.8rem 0 0 0.8rem;
      }
    }
    .category-description{
      padding:0 0.5rem;
      box-sizing: border-box;
      .category-name{
        color: var(--color-bg);
        text-decoration: none;
        border-bottom:1px solid #d0cece;
      }
      .category-link{
        margin-top:1rem;
        font-size:13px;
        display:flex;
        flex-direction:column;
        a{
          color: grey;
          text-decoration:none;
        }
        a:hover{
          transition:0.5s;
          color: var(--color-primary);
          transform: translate(5px,0);
          text-decoration:underline;
        }
      }
      button{
        width:150px;
        border: 1px solid transparent;
        padding:0.3rem 0;
        margin-bottom:1.5rem;
        border-radius:5px;
        background:rgba(0, 0, 0, 0.4);
        color: var(--color-white);
      }
      button:hover{
        transition:0.5s;
        border: 1px solid rgba(0, 0, 0, 0.4);
        background:var(--color-white);
        color: var(--color-primary);
      }
    }
  }
  .category-card:hover{
    transition:0.5s;
    box-shadow: 1px 1px 7px 0.5px  var(--color-primary);
    -webkit-box-shadow: 1px 1px 7px 0.5px  var(--color-primary);
    -moz-box-shadow: 1px 1px 7px 0.5px var(--color-primary);
  }
}