.panel-products {
  width: 80vw;
  background-color: white;
  color: #1f1f38;

  .panel-products-header {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;

    button {
      color: #8d8787;
      background-color: transparent;
      font-size: 2rem;
    }
  }

  th {
    border: 1px solid var(--border-color);
    text-align: center;
  }

  th:first-child {
    width: 50px;
  }

  tr {
    box-sizing: border-box;

    td {
      padding: 1rem;
      border: 1px solid var(--border-color);

      img {
        width: 100%;
      }
    }

    td:nth-child(2) {
      padding: 0;
      width: 200px;
    }

    td:nth-child(5) {
      font-size: 14px;
      padding: 1rem;
      width: 500px;
    }

    .actions {
      display: flex;
      gap: 0.5rem;
      justify-content: center;

      button {
        color: #8d8787;
        background-color: transparent;
      }

      button:hover {
        transition: 0.5s;
        transform: scale(1.2);
      }
    }
  }
}

